* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* Color Scheme */
:root {
    --black: #000000;
    --white: #fff;
}

html, body {
    width: 100%;
    height: 100vh;
    font-family: 'Redressed', cursive;
    background-color: var(--black);
    color: var(--white);
    overflow: hidden;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
    z-index: -1;
}

.nav {
    position: relative;
    display: flex;
    justify-self: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
    z-index: 1;
}

.border-bottom {
    position: absolute;
    top: 100px;
    width: 0%;
    z-index: 1;
    border-color: rgba(255, 255, 255, 0.2);
    border-width: .5px;
}

.logo, .nav-links {
    position: absolute;
    padding: 20px;
}

.logo {
    width: 100px;
}

.nav-links {
    left: 100px;
    line-height: 1;
    margin-left: 30px;
    cursor: pointer;
}

.nav-links ul li:hover {
    color: rgba(255,51,168, 0.7);
}

.nav-links ul li {
    display: inline-block;
    padding: 20px 30px;
    color: rgba(255, 255, 255, 0.5);
}

.text {
    position: absolute;
    top: 420px;
    left: 450px;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.subtitle {
    text-transform: uppercase;
    font-size: 14px;
}

.subtitle:before {
    display: inline-block;
    content: '';
    border: 1px solid var(--white);
    width: 80px;
    margin: 0 10px 0 0;
    transform: translateY(-4px);
}

.title {
    font-size: 120px;
    text-transform: uppercase;
    width: 0%;
    overflow: hidden;
    white-space: nowrap;
}

.desc {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 40px;
    line-height: 2;
}

.readmore {
    display: inline-block;
    margin-top: 80px;
    color: var(--white);
    border-bottom: 1px solid var(--white);
    text-decoration: none;
    padding-bottom: 3px;
    font-weight: bolder;
}

.img-1 {
    position: absolute;
    top: 300px;
    right: 320px;
    transform: translateY(-50%);
    background-position: center;
    background-size: cover;
    width: 0px;
    height: 600px;
    background: url('../images/test1.jpg') no-repeat;
}

.slider {
    position: absolute;
    bottom: 100px;
    right: 320px;
    width: 450px;
    opacity: 0;
}

.img-2 {
    position: absolute;
    right: 0;
    top: 320px;
    transform: translateY(-50%);
    background: url('../images/test1.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    width: 0px;
    height: 350px;
    margin-bottom: 30px;
}

.img-3 {
    position: absolute;
    right: 0;
    top: 820px;
    transform: translateY(-50%);
    background: url('../images/test1.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    width: 0px;
    height: 600px;
    margin-bottom: 30px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 2;
    background-color: #FF33A8;
}

.frist{
    top: 0;
}

.second {
    top: 33.3%;
}

.third {
    top: 66.6%;
}

mark.pink-text {
    background-color: var(--black);
    color: #FF33A8;
}

/* carosuel */

.carousel {
    position: absolute;
    transform: translate(-50%, -50%);
    right: 700px;
    bottom: 10px;
    /* width: 100%; */
    /* height: 100%; */
}



/* mobile devices */

@media(max-height: 720px) {
    .text {
        top: 360px;
        left: 360px;
    }

    .title {
        font-size: 100px;
    }

    .desc {
        margin-top: 30px;
    }

    .readmore {
        margin-top: 60px;
    }

    .img-1 {
        top: 240px;
        right: 330px;
        height: 480px;
    }

    .slider {
        right: 330px;
    }

    .img-2 {
        top: 270px;
        height: 280px;
    }

    .img-3 {
        top: 740px;
    }
}